* {
  margin: 0;
  padding: 0;
}

#content {
  margin: 30px auto;
  width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: peachpuff;
  border-radius: 8px;
  padding: 20px 100px;
  gap: 20px;
}

nav {
  display: flex;
  justify-content: center;
  background-color:peachpuff;
  padding: 20px;
  gap: 10px;
}

nav button {
  padding: 5px 0px;
  width: 85px;
}

.home-img {
  width: 600px;
  border-radius: 8px;
}

.contact img {
  width: 200px;
  height: 100px;
  object-fit: cover;
  object-position: 100% 0;
  border-radius: 8px;
}